/* globals.css */
@import "tailwindcss";

.main-container {
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #fafafa; /* bg-zinc-50 */
  font-family: sans-serif;    /* font-sans */
}

/* Dark mode support */
@media (prefers-color-scheme: dark) {
  .main-container {
    background-color: #000000; /* dark:bg-black */
  }
}